body {
			}
			
			#right {
				position: absolute;
				top: 150px;
				left: 180px;
				padding-left: 6px;
				width:86.5%;
    			min-width: 900px;
				border: 0	px solid black;
    			border-collapse: collapse;
				font-family: "Comic Sans MS", sans-serif;
				text-align: left;
				;

			}
			.test{

			width: 100%;
			text-align: center;
			background-color: lightgreen;
			height: 150px;
			}
			
			#newright{
				position: absolute;
				top: 200px;
				left: 180px;
				padding-left: 6px;
				width:86.5%;
    			min-width: 900px;
				border: 0px solid black;
    			border-collapse: collapse;
				font-family: "Comic Sans MS", sans-serif;
				text-align: left;
				

				

			}
			#newright > #two1{
				position: absolute;
				top: 200px;
				left: 56%;
				width: 43%;
				font-family: "Comic Sans MS", sans-serif;
				text-align: left;
				background-color: #CCFFCC;
				border: 1px solid black;
    			border-collapse: collapse;
			}
			#newright > #one1{
				position: absolute;
				top: 200px;
				left: 180px;
				width: 43%;
				font-family: "Comic Sans MS", sans-serif;
				text-align: left;
				background-color: #CCFFCC;
				border: 1px solid black;
    			border-collapse: collapse;
			}
			#one{
				position: absolute;
				top: 200px;
				left: 180px;
				width: 43%;
				font-family: "Comic Sans MS", sans-serif;
				text-align: left;
				background-color: blue;
				border: 1px solid black;
    			border-collapse: collapse;
			}
			#two{
				border: 1px solid black;
    			border-collapse: collapse;
				position: absolute;
				top: 200px;
				left: 56%;
				width: 43.8%;
				font-family: "Comic Sans MS", sans-serif;
				text-align: center;
				background-color: #CCFFCC;
			}
			#sidearm{
				border: 2px solid blue;
			}

			#extra {
				height: 105px;
			}
			#t1{
				height: 30px;
			}
			#t{
				text-align: center;
				border: 2px solid black;
			}
			#dash{
				width: 100%;
				background-color:#FFFF99;
				height: 1px; 
			}
			#head{
				background-color: #FF6600
				

			}