<!DOCTYPE html>
<html>
<head>
	<title>View Complains</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/spacer.gif"/>
    <link rel="stylesheet" type="text/css" href="../../static/secretary/basic.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/spacer.gif"/>
    <link rel="stylesheet" type="text/css" href="../../static/secretary/css.css">
    <link rel="stylesheet" type="text/css" href="../../static/secretary/try.css">
    <link rel="stylesheet" type="text/css" href="../../static/secretary/css2.css">
    <script type="text/javascript">
    function d1 (text) {
    	var x = document.getElementById("d1");
    	x.innerHTML = "Complain lodge";
    	// document.getElementById("t3").innerHTML = "yoComplain lodge";
    }
    function out1 () {
    	var x = document.getElementById("d1");
    	x.innerHTML = "1";
    	// body...
    	// document.getElementById("text").innerHTML = " sd";
    }
    function d2 (text) {
    	var x = document.getElementById("d2");
    	x.innerHTML = "Complain reached to W.O.";
    	// document.getElementById("text").innerHTML = text;
    }
    function out2 () {
    	var x = document.getElementById("d2");
    	x.innerHTML = "2";
    	// body...
    	// document.getElementById("text").innerHTML = " sd";
    }
    function d3 (text) {
    	var x = document.getElementById("d3");
    	x.innerHTML = "Complain reached to Warden";
    	// document.getElementById("text").innerHTML = text;
    }
    function out3 () {
    	var x = document.getElementById("d3");
    	x.innerHTML = "3";
    	// body...
    	// document.getElementById("text").innerHTML = " sd";
    }
    function d11 (text) {
    	var x = document.getElementById("d11");
    	x.innerHTML = "Complian Re-lodge";
    	// document.getElementById("text").innerHTML = text;
    }
    function out11 () {
    	var x = document.getElementById("d11");
    	x.innerHTML = "11";
    	// body...
    	// document.getElementById("text").innerHTML = " sd";
    }
    function d12 (text) {
    	var x = document.getElementById("d12");
    	x.innerHTML = "Re-lodge reached to W.O.";
    	// document.getElementById("text").innerHTML = text;
    }
    function out12 () {
    	var x = document.getElementById("d12");
    	x.innerHTML = "12";
    	// body...
    	// document.getElementById("text").innerHTML = " sd";
    }
    function d13 (text) {
    	var x = document.getElementById("d13");
    	x.innerHTML = "Re-lodge reached to Warden";
    	// document.getElementById("text").innerHTML = text;
    }
    function out13 () {
    	var x = document.getElementById("d13");
    	x.innerHTML = "13";
    	// body...
    	// document.getElementById("text").innerHTML = " sd";
    }
    function d21 (text) {
    	var x = document.getElementById("d21");
    	x.innerHTML = "Complain Rejected by secretary";
    	// document.getElementById("text").innerHTML = text;
    }
    function out21 () {
    	var x = document.getElementById("d21");
    	x.innerHTML = "21";
    	// body...
    	// document.getElementById("text").innerHTML = " sd";
    }
    function d22 (text) {
    	var x = document.getElementById("d22");
    	x.innerHTML = "Complain by-passed the secretary reched W.O.";
    	// document.getElementById("text").innerHTML = text;
    }
    function out22 () {
    	var x = document.getElementById("d22");
    	x.innerHTML = "22";
    	// body...
    	// document.getElementById("text").innerHTML = " sd";
    }
    function d23 (text) {
    	var x = document.getElementById("d23");
    	x.innerHTML = "By-passed complain reached Warden";
    	// document.getElementById("text").innerHTML = text;
    }
    function out23 () {
    	var x = document.getElementById("d23");
    	x.innerHTML = "23";
    	// body...
    	// document.getElementById("text").innerHTML = " sd";
    }
    </script>
</head>	
<body>
<form id="FORM" action="../forwardToWarden/" method="POST">
    <div class="menu-wrap">
        <nav class="menu">
        <ul class="clearfix">
            <li class="current-item"><a href="#">Home</a></li>

            <!-- <li>
                <a href="#">Forward to <span class="arrow"> &#9660; </span></a>
 
                <ul class="sub-menu">

                    <li><a type="submit" href="../forwardToWarden/">Warden Office</a></li>
                    <li><a type="submit" href="#">CC</a></li>
                </ul>
            </li> -->
           <!-- <li><a href="#">List By</a>
              <ul class="sub-menu">
                    <li><a href="#">date</a></li>
                    <li><a href="#">CC</a></li>
                </ul>
            </li>-->
            <li class="s_button"><button type="submit" form="FORM" value="" style="height:50px;">Reject</button></li>
            
            <li class="s_button"><button type="submit" form="FORM" value="" style="height:50px;">Forward to Warden</button></li>
            <li><a href="#">Site Help</a></li>
        </ul>
        </nav>
    </div>
    <p id="sunny"></p>
		<div id= "one1">
		<h3>Public Complains</h3>
		<table>
      <tr>
        <th></th>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in public %}
      <tr>
        <td><input type="checkbox" class="checked" name="complain" value="{{ item.cid }}"></td>
        <td>{{ item.cid }}</td>
        <td><a href="/crs/viewComplain?CID={{item.cid}}">{{ item.subject }}</a></td>
        <td>{{ item.time }}</td>
      </tr>
          {% endfor %}
    </table>
    </div>
    <div id= "two1">
    <h3>Private Complains</h3>
    <table>
      <tr>
        <th></th>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in private %}
      <tr>
        <td><input type="checkbox" name="complain" value="{{ item.cid }}"></td>
        <td>{{ item.cid }}</td>
        <td><a href="/crs/viewComplain?CID={{item.cid}}">{{ item.subject }}</a></td>
        <td>{{ item.time }}</td>
      </tr>
          {% endfor %}
    </table>
    </div>
    
    <div id="down" >
    <table>
      <tr>
      <td><span  id="d1" onmouseover="d1('first')" onmouseout="out1()">1</span></td>
      <td><span  id="d2" onmouseover="d2('first')" onmouseout="out2()">2</span></td>
      <td><span  id="d3" onmouseover="d3('first')" onmouseout="out3()">3</span></td>
      <td><span  id="d11" onmouseover="d11('first')" onmouseout="out11()">11</span></td>
      <td><span  id="d12" onmouseover="d12('first')" onmouseout="out12()">12</span></td>
      <td><span  id="d13" onmouseover="d13('first')" onmouseout="out13()">13</span></td>
      <td><span  id="d21" onmouseover="d21('first')" onmouseout="out21()">21</span></td>
      <td><span  id="d22" onmouseover="d22('first')" onmouseout="out22()">22</span></td>
      <td><span  id="d23" onmouseover="d23('first')" onmouseout="out23()">23</span></td>
     <!--  <td>14</td>
      <td>21</td>
      <td>22</td>
      <td>23</td>
      <td>24</td> -->
      </tr>
      <!-- <tr>
      	<td>
      		<span  id="t3" >3</span>
      	</td>
      </tr> -->
    </table></div>
   </form>
</body>
</html>
