<!DOCTYPE html>
<html>
<head>
	<title>View Complains</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/spacer.gif"/>
    <link rel="stylesheet" type="text/css" href="../../static/secretary/basic.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/spacer.gif"/>
    <link rel="stylesheet" type="text/css" href="../../static/secretary/css.css">
    <link rel="stylesheet" type="text/css" href="../../static/secretary/try.css">
    <link rel="stylesheet" type="text/css" href="../../static/secretary/css2.css">
    <script type="text/javascript">
    function detail (argument) {
      // body...
    }
    </script>
</head>
<body>
<form id="FORM" action="../forwardToWarden/" method="POST">
    <div class="menu-wrap">
        <nav class="menu">
        <ul class="clearfix">
            <li class="current-item"><a href="#">Home</a></li>

            <!-- <li>
                <a href="#">Forward to <span class="arrow"> &#9660; </span></a>
 
                <ul class="sub-menu">

                    <li><a type="submit" href="../forwardToWarden/">Warden Office</a></li>
                    <li><a type="submit" href="#">CC</a></li>
                </ul>
            </li> -->
           <!-- <li><a href="#">List By</a>
              <ul class="sub-menu">
                    <li><a href="#">date</a></li>
                    <li><a href="#">CC</a></li>
                </ul>
            </li>-->
            <li class="s_button"><button type="submit" form="FORM" value="" style="height:50px;">Reject</button></li>
            
            <li class="s_button"><button type="submit" form="FORM" value="" style="height:50px;">Forward to Warden</button></li>
            <li><a href="#">Site Help</a></li>
        </ul>
        </nav>
    </div>
    <p id="sunny"></p>
		<div id= "one1">
		<h3>Public Complains</h3>
		<table>
      <tr>
        <th></th>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in public %}
      <tr>
        <td><input type="checkbox" class="checked" name="complain" value="{{ item.cid }}"></td>
        <td>{{ item.cid }}</td>
        <td><a href="/crs/viewComplain?CID={{item.cid}}">{{ item.subject }}</a></td>
        <td>{{ item.time }}</td>
      </tr>
          {% endfor %}
    </table>
    </div>
    <div id= "two1">
    <h3>Private Complains</h3>
    <table>
      <tr>
        <th></th>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in private %}
      <tr>
        <td><input type="checkbox" name="complain" value="{{ item.cid }}"></td>
        <td>{{ item.cid }}</td>
        <td><a href="/crs/viewComplain?CID={{item.cid}}">{{ item.subject }}</a></td>
        <td>{{ item.time }}</td>
      </tr>
          {% endfor %}
    </table>
    </div>
    <div id="down" >
    <table>
      <tr><td id="d1" onmouseover="detail()">1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>11</td><td>12</td><td>13</td><td>14</td><td>21</td><td>22</td><td>23</td><td>24</td></tr>
    </table></div>
   </form>
</body>
</html>
