<!DOCTYPE html>
<html>
<head>
	<title>View Complains</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/spacer.gif"/>
    <link rel="stylesheet" type="text/css" href="../../static/secretary/basic.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/spacer.gif"/>
    <link rel="stylesheet" type="text/css" href="../../static/secretary/css.css">
    <link rel="stylesheet" type="text/css" href="../../static/secretary/try.css">
    <link rel="stylesheet" type="text/css" href="../../static/secretary/css2.css">
</head>
<body>
    <div class="menu-wrap">
        <nav class="menu">
        <ul class="clearfix">
            <li class="current-item"><a href="#">Home</a></li>
            <li>
                <a href="#">Forward to <span class="arrow">&#9660;</a>
 
                <ul class="sub-menu">
                    <li><a href="#">Warden Office</a></li>
                    <li><a href="#">CC</a></li>
                </ul>
            </li>
           <!-- <li><a href="#">List By</a>
              <ul class="sub-menu">
                    <li><a href="#">date</a></li>
                    <li><a href="#">CC</a></li>
                </ul>
            </li>-->
            <li ><a href="#">Photos</a></li>
            <li><a href="#">Site Help</a></li>
        </ul>
        </nav>
    </div>

			
		
		<div id= "one1">
		<h3>Public Complains</h3>
		<table>
      <tr>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in public %}
      <tr> 
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
      </tr>
          {% endfor %}
    </table>
    </div>
    <div id= "two1">
    <h3>Private Complains</h3>
    <table>
      <tr>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in private %}
      <tr> 
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
      </tr>
          {% endfor %}
    </table>
    </div>
</body>
</html>