<!DOCTYPE html>
<html>
<head>
<style >
   #one {
    border-right: 3px
   }
   table {
    border-spacing: 0.5rem;
    text-align: left;
    border-color: gray;
    background: white;
    border: 1px solid;
  }
  td {
    padding : 3px;
    margin: 3px;
  }

</style>
</head>
<body>
<div id="right">
  <div id= "one">
    <h3>Private Complains : </h3>
    <table>
      <tr>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in list1 %}
      <tr> 
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
    </tr>
    {% endfor %}
</table>
    </div>
    <div id="two">
      <h3>Public Complain : </h3>
      <table>
      <tr>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in list2 %}
      <tr> 
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
    </tr>
    {% endfor %}
</table>
    </div> 
  </div>
</body>
</html>













