<!DOCTYPE html>
<html>
<title>View Complain</title>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/logoSmall.png"/>
    <link rel="stylesheet" type="text/css" href="../../static/user_module/basic.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/logoSmall.png"/>
    <link rel="stylesheet" type="text/css" href="../../static/user_module/css.css">
    <link rel="stylesheet" type="text/css" href="../../static/user_module/try.css">
    <link rel="stylesheet" type="text/css" href="../../static/user_module/css2.css">
	 <script type="text/javascript">
    function viewComplain() {
      // body...
      
      var temp = '<object  type="text/html" data="../wardenViewComplain/" style="height:600px;width:100%;"></object>' 
      document.getElementById("right").innerHTML = temp;
    }
    function viewSecretary() {
      // body...
      
      var temp = '<object  type="text/html" data="../wardenViewSecretary/" style="height:600px;width:100%;"></object>'   // check data
      document.getElementById("right").innerHTML = temp;
    }
    function viewPollResults() {
      // body...
      
      var temp = '<object  type="text/html" data="" style="height:600px;width:100%;"></object>'   // check data
      document.getElementById("right").innerHTML = temp;
    }
    function resetPassword () {
      // body...

      var temp = '<object  type="text/html" data="../changePassword" style="height:600px;width:100%;"></object>'
      document.getElementById("right").innerHTML = temp;
    }
    </script>
</head>
<body>
<div id="upper">
	<img style="width:5%" src="../../static/img/system/logoSmall.png"><img style="width:50%" src="../../static/img/system/name.png"> 
    <p >
      <span id = "s1" style="float: left;">Welcome: {{msg}} </span>
      <span id = "s1" style="float: center;" > Warden </span>
      <span id = "s3" style="float: right;"><a href="../../logout">Logout</a></span>
    </p>
    </div>
    
    <div class="menu-wrap2" >
        <nav class="menu2">
        <ul class="clearfix">
            <li class="current-item"><a href="https://iitp.ac.in"><img src="../../static/img/system/spacer.gif"></a></li>
            <li><button type="button" onclick="viewComplain()" style="height:40px;width:170px;">View Complain</button></li>
            <li><button type="button" onclick="viewSecretary()" style="height:40px;width:170px;">View Secretary</button></li>
            <li><button type="button" onclick="viewPollResult()" style="height:40px;width:170px;">View Poll Results</button></li>
            <li><button type="button" onClick="resetPassword()" style="height:40px;width:170px;">Change Password</button></li>
        </ul>
        </nav>
    </div>
    <div id="right">
      <object  type="text/html" data="../wardenViewComplain" style="height:600px;width:100%;"></object>
    </div>
   
</body>
</html>