<!DOCTYPE html>
<html>
<head>
	<title></title>   
    <link rel="stylesheet" type="text/css" href="../../static/student/compDetail.css">

</head>
<body>
      <br><br><br>

      <div id="div1">
        <br><br><br>
      <span id = "one">Complain ID&nbsp;:&nbsp;{{ item.cid }}</span><br>
      <span id = "one">Lodge&nbsp;Time&nbsp;:&nbsp;{{ item.time }}</span><br>
      <table id="three" cellspacing="14"><tr><td>Complain&nbsp;Type&nbsp;:</td><td>{{item.type}}</td></tr>
                        <tr><td>Complain&nbsp;Subject&nbsp;:</td><td>{{ item.subject }}</td></tr><br>
                        <tr><td>Complain&nbsp;History&nbsp;:</td><td>{{ item.history }}</td></tr>
                        <tr><td>Complain&nbsp;Status&nbsp;:</td><td>{{ item.status }}</td></tr></table>
      <span id="seven">Complain&nbsp;Detail&nbsp;:</span>
      <table id="four"><tr><td>{{item.detail}}</td></tr></table>

        <br><br><br>
      </div>

</body>
</html>
