<!DOCTYPE html>
<html>
<head>
	<title>
		Hostel Leaving Form
	</title>
	
<body>
   <div id="only">
   <h3>Hostel Leaving Form</h3>

   <form name="Hostel Leaving" action="/studHostelLeave/" method="POST">
   <table>
    <tr>
      <td><label>Name:</label></td>
      <td><input class = "inpText"  type="text" value="{{obj.name}}"></td> 
    </tr>
    <tr>
    	<td><label>Roll No:</label></td>
    	<td><input class = "inpText"  type="text" value="{{obj.roll}}"></td>
    </tr>
      <tr>
          <td><label>Hostel:</label></td>
          <td><input class = "inpText"  type="text" value="{{obj.hostel}}"></td>
      </tr>
      <tr>
          <td><label>Mobile No:</label></td>
          <td><input class = "inpText"  type="text" value="{{obj.mobile}}"></td>
      </tr>
      <tr>
          <td><label>StartDate:</label></td>
          <td><input class = "inpText"  name="start_date" type="date" value=""></td>
      </tr>
      <tr>
          <td><label>EndDate:</label></td>
          <td><input class = "inpText" name="end_date" type="date" value=""></td>
      </tr>
      <tr><td><label>Laptop:</label></td>
      <td><select name = "laptop" > 
      <option value="Yes">Yes</option>
      <option value="No">No</option>
      </select> 
      </td>
      </tr>
      <tr>
          <td><label>Destination:</label></td>
          <td><input class = "inpText"  name="destination" "type"="text" value=""></td>
      </tr>
      <tr>
          <td><label>Reason:</label></td>
          <td><input class = "inpText" name="reason" type="text" value=""></td>
      </tr>
      </table>
      </br>
      <button type="submit" value=""> Submit</button>
   </form>

</body>
</html>