<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>View &amp; Rate Secretaty </title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/student/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../static/student/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/student/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/student/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

   
<style type="text/css">
    #one{
        background-color: #337ab7;
        color: #ffffff;
    }
    #ro{
        background-color: #337ab7;
    }
</style>



</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">{{msg}}</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/crs/studentProfile/"><i class="fa fa-user fa-fw"></i> My Profile</a>
                        </li>
                         <li><a href="/changePassword/"><i class="fa fa-gear fa-fw"></i> Change Password</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                        </li>
                        <li>
                            <a href="/crs/search/"><i class="fa fa-search fa-fw"></i>Search</a>
                        </li>
                        <li>
                            <a href="/crs/complainView/"><i class="fa fa-table fa-fw"></i>View Complain</a>
                        </li>
                        <li>
                            <a href="/crs/lodgeComplain/"><i class="fa fa-pencil-square-o fa-fw"></i>Lodge Complain</a>
                        </li>
                        <li id="one">
                            <a id="one" href="/crs/loadRateSecPage/"><i class="fa fa-edit fa-fw"></i> Rate Secretary</a>
                        </li>
                       <!--  <li>
                            <a href="/crs/messrebate/"><i class="fa fa-money fa-fw"></i> Mess Rebate</a>
                        </li> -->
                      <li>
                            <a  href="#"><i class="fa fa-edit fa-fw"></i>  Mess Poll <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/crs/pollOptions/">Polling</a>
                                </li>
                                <li>
                                    <a id href="/crs/pollResult/">Poll Result</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a  href="#"><i class="fa fa-edit fa-fw"></i> Hostel Leaving Info<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/viewPastForm/">Previous Forms</a>
                                </li>
                                <li>
                                    <a href="/OpenHostelPage/">Fill New Form</a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Present Secretaries</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                   
                    <form name="complainForm" action="/rateSecretary/" method="POST">
                    {% for item in stud %}
                        
                        <div class="col-lg-12">
                         {% for sec in sec %}
                            {% if item.uid == sec.uid %}
                                {% if sec.type == 1 %}
                                    <h3>Mess</h3>
                                {% elif sec.type == 2 %}
                                    <h3>Maintainance</h3>
                                {% elif sec.type == 3 %}
                                    <h3>Technical</h3>
                                {% elif sec.type == 4 %}
                                    <h3>Environment</h3>
                                {% endif %}           
                            {% endif %}
                        {% endfor %} 
                            <div class="col-lg-6">
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th><h4>Name</h4></th>
                                            <td><h4>{{item.name}}</h4></td>
                                        </tr>
                                        <tr>
                                            <th><h4>E-mail</h4></th>
                                            <td><h4>{{item.email}}</h4></td>
                                        </tr>
                                        <tr>
                                            <th><h4>Mobile</h4></th>
                                            <td><h4>{{item.mobile}}</h4></td>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            </div>
                        <div class="col-lg-6">
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th><h4>Hostel</h4></th>
                                            <td><h4>{% if item.hostel == 1 %} Ashoka
                                                             {% elif item.hostel == 2 %} Aryabhatta
                                                             {% elif item.hostel == 3 %} Chanakya 1
                                                             {% elif item.hostel == 4 %} Chanakya 2
                                                    {% endif %}</h4></td>
                                        </tr>
                                        <tr>
                                        {% for sec in sec %}
                                            {% if sec.uid == item.uid %}
                                                <th><h4>Current Rating</h4></th>
                                                <td><h4>{{sec.rating}}</h4></td>
                                            {% endif %}
                                        {% endfor %}
                                        </tr>
                                        <tr>
                                            <th><h4>Your Rating</h4></th>
                                            <td><h4>
                                               
                                                {% if obj  %}
                                                {% for Obj in obj %} 
                                                {% if Obj.secid == item.uid %}
                                                <select class="options" name="rating"  >
                                                    <option  value="1" {% if Obj.rating == 1 %} selected {% endif %} > 1</option>
                                                    <option  value="2"{% if Obj.rating == 2 %} selected  {% endif %} > 2</option>
                                                    <option  value="3"{% if Obj.rating == 3 %} selected {% endif %} > 3</option>
                                                    <option  value="4"{% if Obj.rating == 4 %} selected {% endif %} > 4</option>
                                                    <option  value="5"{% if Obj.rating == 5 %} selected {% endif %} > 5</option>
                                                </select>
                                                {% endif %}
                                                {% endfor %}
                                                {% endif %}
                                                {% if not obj %}
                                                <select class="options" name="rating"  >
                                                    <option  value="1"> 1</option>
                                                    <option  value="2">2</option>
                                                    <option  value="3"selected>3</option>
                                                    <option  value="4" >4</option>
                                                    <option  value="5">5</option>
                                                </select>
                                                {% endif %}
                                            </h4></td>
                                        </tr>        
                                    </thead>
                                </table>
                            </div>      
                        </div>  
                    {% endfor %} 
                    <div class="col-lg-6">
                        <button type="submit" name="submit" value="Submit" class="btn btn-success" style="float: right" >Submit</button>
                    </div>
                    </form>
                    </div>
                </div>                          
            </div>                            
        </div>
    </div>



    <!-- jQuery -->
    <script src="../../static/student/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../static/student/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../../static/student/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../static/student/dist/js/sb-admin-2.js"></script>

</body>

</html>
