<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load staticfiles %}
	<script type= "text/javascript" src="../../static/student/stateCity.js"></script>
	<link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/spacer.gif"/>
    <link rel="stylesheet" type="text/css" href="../../static/student/sep.css">
	<script type="text/javascript" src="../../static/student/mobzipValidate.js"></script>    
</head>
<body>	
<div id="right">
	<div id="top">
	<h1>Edit Your User Profile</h1>
	</div>
	<form name="test" method="POST" action="/studAfterEditProfile/"> <!--see for action-->
		<div id="personal">
		<br>
		<span id="head">Personal Information</span>
		<p id="leftm"><label>Username</label><input id="rightm" type="text" value="{{list.username}}"></p>
	<table id="leftm">
	<tr><td>Name</td>
		<td><input id="rightm" type="text" size="35" name="Name" value="{{list.name}}"></td>
	<tr></table>
	</div>
		<span id="leftm">Permanent Address&nbsp;&nbsp;<input id="rightm" type="text" size="50" name="padd" value=""></p>
		<span id="leftm">State</span><select id="state" name="state" style="width: 150px"></select>
		<span id="leftm">City</span><select id="city" name="city" style="width: 150px" ></select>	
		<span id="leftm">Pin&nbsp;&nbsp;Code<input id="rightm" type="text" size="8" name="pincode" value=""></p>
	</div>

	<div id="bankD">
	<br><span id="head">Bank Details</span>
	<p id="leftm">Bank&nbsp;Name<select id="rightm" name="bankName" style="width:300px">
		<option value="State Bank of India">State Bank of India</option>
		<option value="State Bank of India and Associates">State Bank of India and Associates</option>
		<option value="Federal Bank">Federal Bank</option>
		<option value="Indian Bank">Indian Bank</option>
		<option value="Union Bank of India">Union Bank of India</option>
		<option value="Andhra Bank">Andhra Bank</option>
		<option value="Punjab National Bank">Punjab National Bank </option>
		<option value="Allahabad Bank">Allahabad Bank</option>
		<option value="Vijaya Bank">Vijaya Bank</option>
		<option value="AXIS Bank">AXIS Bank</option>
		<option value="HDFC Bank">HDFC Bank</option>
		<option value="Bank of Baroda">Bank of Baroda</option>
		<option value="Karnataka Bank">Karnataka Bank</option>
		<option value="Oriental Bank of Commerce">Oriental Bank of Commerce</option>
		<option value="Karur Vysya Bank">Karur Vysya Bank</option>
		<option value="Karur Vysya Bank">Karur Vysya Bank</option>
		<option value="Kotak Mahindra Bank">Kotak Mahindra Bank</option>
		<option value="INGVysya Bank">INGVysya Bank</option>
		<option value="ICICI Bank">ICICI Bank </option>
		<option value="IndusInd Bank">IndusInd Bank</option>
		<option value="IMPS">IMPS</option>
		<option value="Central Bank of India">Central Bank of India</option>
		<option value="Bank of India">Bank of India</option>
		<option value="Syndicate Bank">Syndicate Bank</option>
		<option value="Bank of Maharashatra">Bank of Maharashatra</option>
		<option value="IDBI Bank">IDBI Bank</option>
		<option value="Corporation Bank">Corporation Bank</option>
		<option value="Yes Bank">Yes Bank</option>
		<option value="Nepal SBI Bank">Nepal SBI Bank Ltd.</option>
		<option value="Canara Bank">Canara Bank</option>
		<option value="UCO Bank">UCO Bank</option>
		<option value="BANK OF INDIA">BANK OF INDIA</option>
		<option value="CENTRAL BANK OF INDIA">CENTRAL BANK OF INDIA</option>
		<option value="UNITED BANK OF INDIA">UNITED BANK OF INDIA</option>
	</select>
	<span id="leftm">Mobile&nbsp;&nbsp; Number</span><input id="rightm" type="text" size="20" name="mobile" value=""></p>
		<span id="leftm">Account&nbsp;&nbsp; Number</span><input id="rightm" type="text" size="20" name="accnum" value="">
		<span id="leftm">IFSC&nbsp;&nbsp; Code</span><input id="rightm" type="text" size="20" name="ifsc" value=""></p>
		<span id="leftm">Email&nbsp;&nbsp; </span><input id="rightm" type="text" size="20" name="email" value=""></p>
	</div>
	</br><p id = "one"><input type="submit"   name="submit" value="Submit" onclick="Validate(document.test.mnum,document.test.zip)"></p>
</form>
</div>
<script language="javascript">
    populateStates("state", "city");
</script>


</body>
</html>