<!--this page has to be loaded first-->


<!DOCTYPE html>
<html>
<head>
  <title>IITP Complaint</title>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/logoSmall.png"/>
    <link rel="stylesheet" type="text/css" href="../../static/student/basic.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/logoSmall.png"/>
    <link rel="stylesheet" type="text/css" href="../../static/student/css.css">
    <link rel="stylesheet" type="text/css" href="../../static/student/try.css">
    <link rel="stylesheet" type="text/css" href="../../static/student/css2.css">
    <style></style>
    <script type="text/javascript">
    // function view () {
    //   var temp = '<object  type="text/html" data="../complainView" style="height:600px;width:100%;"></object>'
    //   document.getElementById("right").innerHTML = temp;
    // }

    function lodge () {
      var temp = '<object  type="text/html" data="../lodgeComplain" style="height:600px;width:100%;"></object>'
      document.getElementById("right").innerHTML = temp;
    }

    function home () {
      var temp = '<object  type="text/html" data="../studentHome" style="height:600px;width:100%;"></object>'
      document.getElementById("right").innerHTML = temp;
    }

    function viewprofile () {
      var temp = '<object  type="text/html" data="/studViewProfile/" style="height:600px;width:100%;"></object>'
      document.getElementById("right").innerHTML = temp;
    }

    function editprofile () {
      var temp = '<object  type="text/html" data="/studEditProfile/" style="height:600px;width:100%;"></object>'
      document.getElementById("right").innerHTML = temp;
    }

    function view_rate () {
      var temp = '<object  type="text/html" data="../loadRateSecPage" style="height:600px;width:100%;"></object>'
      document.getElementById("right").innerHTML = temp;
    }

    function messrebate () {
      var temp = '<object  type="text/html" data="../messrebate" style="height:600px;width:100%;"></object>'
      document.getElementById("right").innerHTML = temp;
    }

    function poll () {
      var temp = '<object  type="text/html" data="../studPoll" style="height:600px;width:100%;"></object>'
      document.getElementById("right").innerHTML = temp;
    }

    function hostel_leave() {
      var temp = '<object  type="text/html" data="../studHostelLeave" style="height:600px;width:100%;"></object>'
      document.getElementById("right").innerHTML = temp;
    }

    function resetPassword () {
      var temp = '<object  type="text/html" data="../changePassword" style="height:600px;width:100%;"></object>'
      document.getElementById("right").innerHTML = temp;
    }


    </script>
    </head>
<body>
<div id="upper">
   <img style="width:5%" src="../../static/img/system/logoSmall.png"><img style="width:50%" src="../../static/img/system/name.png"> 
    <p >
      <span id = "s1" style="float: left;">Welcome: {{msg}} </span>
      <span id = "s1" style="float: center;">Student </span>
      <span id = "s3" style="float: right;"><a href="../../logout">Logout</a></span>
    </p>
    </div>
    
    <div class="menu-wrap2">
        <nav class="menu2">
        <ul class="clearfix">
            <li class="current-item"><a href="https://iitp.ac.in"><img src="../../static/img/system/spacer.gif"></a></li>
            <li><a  onClick="home()">Home</a></li>
            <li><a href="/crs/viewComplain/" >View</a></li>
            <li><a  onClick="lodge()">Lodge</a></li>
            <li><a  onClick="editprofile()">Edit profile</a></li>
            <li><a  onClick="viewprofile()">View profile</a></li>
            <li><a  onClick="view_rate()">View &amp; Rate Sec.</a></li>
            <li><a  onClick="messrebate()">Mess Rebate</a></li>
            <li><a  onClick="poll()">Poll</a></li>
            <li><a  onClick="hostel_leave()">Hostel leave Info.</a></li>
            <li><a  onClick="resetPassword()">Change Password</a></li>
        </ul>
        </nav>
    </div>
    <!-- <div id="right">
      <object  type="text/html" data="../complainView" style="height:600px;width:100%;"></object>
    </div> -->
  </body>

</html>