<!DOCTYPE html>
<html>
<head>
	
<style></style>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>

<script>
$(document).ready(function() {
	$( "#custom" ).hide();
}); 
$("#cust").click(function() {
	$( "#custom" ).show();
});
$("#pub").click(function() {
	$( "#custom" ).hide();
});
$("#pri").click(function() {
	$( "#custom" ).hide();
});

<div id="right">
<form name="complainForm" action="../lodgedComplainDetail/" method="post">
	
		<p id="s1">Select catagory of complain.</p>
		<select name="catagory" style="width: 500px">
		<option value="Environment">Environment</option>
		<option value="Mess">Mess</option>
		<option value="Maintenance">Maintenance</option>
		<option value="Technical">Technical</option></select>
		

	<p id="s1">Select type of complain.</p>
	<p><input id="pri" type="radio" name="complainType" value="1" checked>Private

	<input id="pub" type="radio" name="complainType" value="0">Public

	<input id="cust" type="radio" name="complainType" value="2">Custom
	</p>
	<div id="custom" >
  		<p>Add other people</p>
  		<p><label for="first">First:</label>
				<input type="text" name="first" value="" />&nbsp;
			<label for="second">Second:</label>
				<input type="text" name="second" value="" />&nbsp;
			<label for="third">Third:</label>
				<input type="text" name="third" value="" />&nbsp;
			<label for="fourt">Fourth:</label>
				<input type="text" name="fourth" value="" />&nbsp;
			<label for="fifth">Fifth:</label>
				<input type="text" name="fifth" value="" />
			</p>
  	 </div>	
	<p>Subject&nbsp;&nbsp;<input type="text" name="subject" placeholder="Subject" > </p>
	
	<p>Add description of complain</p>
	<p><textarea  name="message" rows="10" cols="70" placeholder="Write description of complain."></textarea></p>
	<p>Add picture of issue(Optional)&nbsp;<input type="file" name="pic" accept="image/*" style="width: 300px"></p>
  
  <span style="float: center;"><input id="" type="submit" name = "Lodge" value="Lodge" style="width: 120px"></span>
  <span style="float: center;"><input type="submit" value="Cancel" style="width: 120px"></span>
 
</form>
  </div>
  


</body>
</html>
