<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hostel Leave</title>
    
    <!-- Bootstrap Core CSS -->
   <link href="../../static/student/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../../static/student/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/student/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/student/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript">
    function DateValidate()
    {
        var start = document.getElementById("start_date").value;
        var end = document.getElementById("end_date").value;
        var temp = document.getElementById("mobile").value;
        var check = /^[0-9]{10}/;
        if(start > end)
        {
                document.getElementById("start").style.color = 'red';
                document.getElementById("start").innerHTML="Start Date can't exceed End date ";
        }
        else if(start < end)
        {
            document.getElementById("start").style.color = 'green';
            document.getElementById("start").innerHTML="Ok ";
            document.getElementById("end").style.color = 'green';
            document.getElementById("end").innerHTML="Ok ";
        }
        if(temp.match(check))
        {
             document.getElementById("m").style.color = 'green';
            document.getElementById("m").innerHTML="Ok "

        }
        else
        {
             document.getElementById("m").style.color = 'red';
            document.getElementById("m").innerHTML="Mobile Number shoud be of 10 digits ";
        }
    }

    </script>
    <style type="text/css">
    #one{
         background-color: #337ab7;
        color: #ffffff;
    }
    </style>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" id="headbar" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">{{ msg }}</a>                <!-- ADD USER NAME, ADD VIEW PROFILE URL-->
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a> -->
                    <ul class="dropdown-menu dropdown-messages">
                        <!-- <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li> -->
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a> -->
                    <ul class="dropdown-menu dropdown-tasks">
                       <!--  <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 1</strong>
                                        <span class="pull-right text-muted">40% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                            <span class="sr-only">40% Complete (success)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 2</strong>
                                        <span class="pull-right text-muted">20% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                            <span class="sr-only">20% Complete</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 3</strong>
                                        <span class="pull-right text-muted">60% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                            <span class="sr-only">60% Complete (warning)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <p>
                                        <strong>Task 4</strong>
                                        <span class="pull-right text-muted">80% Complete</span>
                                    </p>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                            <span class="sr-only">80% Complete (danger)</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Tasks</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li> -->
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a> -->
                    <ul class="dropdown-menu dropdown-alerts">
                        <!-- <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li> -->
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/crs/studentProfile/"><i class="fa fa-user fa-fw"></i> My Profile</a>
                        </li>
                         <li><a href="/changePassword/"><i class="fa fa-gear fa-fw"></i> Change Password</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/crs/search/"><i class="fa fa-search fa-fw"></i>Search</a>
                        </li>
                        <li>
                            <a href="/crs/complainView/"><i class="fa fa-table fa-fw"></i>View Complain</a>
                        </li>
                         <li>
                            <a href="/crs/lodgeComplain/"><i class="fa fa-pencil-square-o fa-fw"></i>Lodge Complain</a>
                        </li>
                        <li>
                            <a href="/crs/loadRateSecPage/"><i class="fa fa-edit fa-fw"></i> Rate Secretary</a>
                        </li>
                        <!-- <li>
                            <a href="/crs/messrebate/"><i class="fa fa-money fa-fw"></i> Mess Rebate</a>
                        </li> -->
                        <li>
                            <a id="one" href="#"><i class="fa fa-edit fa-fw"></i> Hostel Leaving Info<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/viewPastForm/">Previous Forms</a>
                                </li>
                                <li id="one">
                                    <a id="one" href="/OpenHostelPage/">Fill New Form</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                        <li>
                            <a  href="#"><i class="fa fa-edit fa-fw"></i>  Mess Poll <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/crs/pollOptions/">Polling</a>
                                </li>
                                <li>
                                    <a id href="/crs/pollResult/">Poll Result</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Hostel Leave</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Fill Out This Form
                        </div>
                        <div class="panel-body">
                            <div class="row">
                             <form name="input" method="POST" action="/submitHostelPage/"> <!--see for action-->
                                <div class="col-lg-6">
                                    <h3>Default Information</h3>
                                        <fieldset disabled="">
                                            <div class="form-group">
                                                <label for="disabledSelect">Name</label>
                                                <input  id="disabledInput" class="form-control" type="text" value="{{list.name}}" placeholder="{{name}}">
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Hostel</label>
                                                    <input class="form-control" name="hostel"  
                                                    value=  "{% if item.hostel == 1 %} Ashoka
                                                             {% elif item.hostel == 2 %} Aryabhatta
                                                             {% elif item.hostel == 3 %} Chanakya 1
                                                             {% elif item.hostel == 4 %} Chanakya 2
                                                             {% endif %}">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Room</label>
                                                    <input class="form-control" name="room" value="{{list.room}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Default Mobile Number</label>
                                                <input class="form-control" name="mnum" value="{{list.mobile}}">
                                            </div>
                                        </fieldset>      
                                </div>
                                <div class="col-lg-6">
                                    <h3>Editable Information</h3>    
                                            <div class="form-group">
                                                <label>Start Date&nbsp;&nbsp;(MM/DD/YYYY)</label>
                                                <input type="date" class="form-control" required value="" id="start_date" name="start_date" placeholder="Select Start date">
                                                <p id="start"></p>
                                            </div>
                                            <div class="form-group">
                                                <label>End Date&nbsp;&nbsp;(MM/DD/YYYY)</label>
                                                <input type="date" class="form-control" id="end_date" required value="" name="end_date" placeholder="Select End date">
                                                <p id="end"></p>
                                            </div>
                                            <div class="form-group">
                                                <label>Leaving Time</label>
                                                <input type="time" class="form-control" required value="" name="time" >
                                            </div>
                                            <div class="form-group">
                                                <label>Residing Address during Leave</label>
                                                <textarea class="form-control" name="destination" required value="" placeholder="Place"></textarea>
                                            </div>
                                             <div class="form-group">
                                                <label>Reason For Leave</label>
                                                <input class="form-control" name="reason" required value="">
                                            </div>
                                            <div class="form-group">
                                                <label>Mobile Number During Absence</label>
                                                <input class="form-control" name="mobile" id="mobile" required value="">
                                                <p id="m"></p>
                                            </div>
                                </div>
                                <div class="col-lg-6">
                        			<button type="submit" name="submit" value="Submit" onclick="DateValidate()" class="btn btn-success" style="float: right" >Submit</button>

                        			<button type="reset" value="Cancel" class="btn  btn-danger" style="float: right">Reset</button>
                    			</div>

                                </form> 
                                <!-- /.col-lg-6 (nested) -->
                                                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        

                        <!-- /.panel-body -->
                    </div>
            
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../../static/student/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
   <script src="../../static/student/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
     <script src="../../static/student/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../../static/student/dist/js/sb-admin-2.js"></script>
</body>

</html>
