<!DOCTYPE html>
<html>
<head>
  <title>IITP Complaint</title>
  <style>
  		h2 {
  			font-weight: bold;
  			text-decoration: underline;
  			text-align: center;
  			color: #000099;
  		}
  		li {
  			font-size: 18px;
  			color: #000099;
  		}


  </style>
</head>
<body>
	<div id="right">
		<h2>SOME IMPORTANT RULES FOR IIT PATNA STUDENTS</h2> 

		<li>No student is permitted to leave hostel without taking permission of Associate Warden of their respective Halls.</li>
		<li>Before leavinf hostel , it is mendatory to fill <strong>Hostel Leaving Form</strong>.</li>
		<li>Along with Hostel Leaving Form, students must attach xerox copy of permitted leave as a proof of their respective Department/Coordinators/Supervisors.</li>
		<li>Kindly maintain peacefull environment and make sure that no hostel property is disturbed intentionally by any student.</li>
		<li>Any kind of approval can be taken only in working hours and wourking days only.</li>
	




	</div> 


</body>
</html>


