
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/spacer.gif"/>
    <link rel="stylesheet" type="text/css" href="../../static/student/sep.css">
    <script type="text/javascript">
    function studEditProfile() {
    	var temp = '<object  type="text/html" data="../studEditProfile" style="height:600px;width:100%;"></object>'
      	document.getElementById("right").innerHTML = temp;
    }
    </script>
    
</head>
<body>	
<div id="right">
	<div id="top">
	<h1>Your User Profile</h1>
	</div>
	<form name="test" method="GET" action=""> <!--see for action-->
		<div id="personal">
		<br>
		<span id="head">Personal Information</span>
		<p id="leftm"><label>Username</label><input id="rightm" type="text" value="{{username}}"></p>
	<table id="leftm">
	<tr><td>Name</td>
		<td><input id="rightm" type="text" size="35" name="Name" value="{{name}}"></td>
	<tr></table>
	<p id="leftm">Roll Number<input  id ="rightm" type="text" size="10" name="rollNum" value="{{roll}}"></p>
	
	<p id="leftm">Sex<input id="rightm" type="text" name="sex" size="5" value="{{sex}}"></p>
	<p id="leftm">Blood&nbsp;Group<input id="rightm" type="text" name="blood"  size="4" value="{{bloodgrp}}"></p>
	</div>
	
	<div id="hostel">
		<br><span id="head">Contact Details</span>
		<p id="leftm">Mobile<input id="rightm" type="text" size="12" name="mnum" value="{{mobile}}" ></p>
		<p id="leftm">Hostel<input id="rightm" type="text" size="12" name="hostel"  value="{{hostel}}">
		<span id="leftm">Room<input id="rightm" type="text" size="4" name="room" value="{{room}}"></span></p>
		<p id="leftm">Permanent&nbsp;&nbsp; Address<input id="rightm" type="text" size="30" name="padd" value="{{padd}}">
		<span id="leftm">State</span><input id="rightm" type="text" size="15" name="state" value="{{state}}"> <!-- Add state in database-->
		<span id="leftm">City</span><input id="rightm" type="text" size="15" name="city" value="{{city}}">    <!-- Add city in database-->
		<span id="leftm">Pin&nbsp;&nbsp;Code<input id="rightm" type="text" size="8" name="pincode" value="{{pincode}}"></p> <!-- Add zip in database-->
	</div>

	<div id="bankD">
	<br><span id="head">Bank Details</span>
	<p id="leftm">Bank&nbsp;Name<input id="rightm" type="text" size="15" name="bank" value="{{bank}}">
	<span id="leftm">Account&nbsp;&nbsp; Number</span><input id="rightm" type="text" size="20" name="accnum" value="{{baccno}}">
	<span id="leftm">IFSC&nbsp;&nbsp; Code</span><input id="rightm" type="text" size="20" name="ifsc" value="{{IFSC}}"></p>
	</div>
</form>
</div>
</body>
</html>