<!DOCTYPE html>
<html>
<head>
<style >
   #one {
   	border-right: 3px
   }
   table {
    border-spacing: 0.5rem;
    text-align: left;
    /*border-spacing: 2px;*/
    border-color: gray;
    /*display : block;*/
    background: white;
    border: 1px solid;
  }
  td {
    padding : 3px;
    margin: 3px;
  }

</style>
</head>
<body>
<div id="right">
	<div id= "one">
		<h3>Your Private Complains : </h3>
		<table>
      <tr>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in list %}
      <tr> 
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
    </tr>
    {% endfor %}
</table><!-- 
    </div>
    <div id="two">
  		<h3>Private Complain</h3>
  		<table>
      <tr>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in lists2 %}
      <tr> 
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
    </tr>
    {% endfor %}
</table>
  	</div> -->
  </div>
  </div>
</body>
</html>