<!DOCTYPE html>
<html>
<head>
<style >
   

</style>
</head>
<body>

	<div id= "one1">
		<h3>Your Complains : </h3>
		<table>
      <tr>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
        <th>Comments</th>
      </tr>
          {% for item in list %}
      <tr> 
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
        <td>{{ item.comments }}</td>
    </tr>
    {% endfor %}
</table><!-- 
    </div>
    <div id="two">
  		<h3>Private Complain</h3>
  		<table>
      <tr>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in lists2 %}
      <tr> 
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
    </tr>
    {% endfor %}
</table>
  	</div> -->
  </div>
  </div>
</body>
</html>