<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" type="text/css" href="../../static/secretary/basic.css">
    <link rel="stylesheet" type="text/css" href="../../static/secretary/css.css">
    <link rel="stylesheet" type="text/css" href="../../static/secretary/try.css">
    <link rel="stylesheet" type="text/css" href="../../static/secretary/css2.css">
</head>
<body>
	<div class="menu-wrap">
        <nav class="menu">
        <ul class="clearfix">
            <li class="current-item"><a href="#">Home</a></li>
            <li>
                <a href="#">Forward to <span class="arrow">&#9660;</span></a>
                <ul class="sub-menu">
                    <li><a href="#">Warden Office</a></li>
                    <li><a href="#">CC</a></li>
                </ul>
            </li>
            <li><a href="#">List By</a>
              <ul class="sub-menu">
                    <li><a href="#">date</a></li>
                    <li><a href="#">CC</a></li>
                </ul>
            </li>
            <li ><a href="#">Photos</a></li>
            <li><a href="#">Site Help</a></li>
        </ul>
        </nav>
    </div>
    </br></br></br></br>
    <p >
      <span id = "s1" style="float: left;">{{ item.subject }}</span>
      <span id = "s3" style="float: right;">{{ item.cid }}</span>
    </p>
    </br></br>
    <p>{{ item.detail }}</p>
</body>
</html>