<!DOCTYPE html>
<html>
<head>
	<title>View Complains</title>
	<link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/spacer.gif"/>
    <link rel="stylesheet" type="text/css" href="../../static/secretary/basic.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/spacer.gif"/>
    <link rel="stylesheet" type="text/css" href="../../static/secretary/css.css">
    <link rel="stylesheet" type="text/css" href="../../static/secretary/try.css">
    <link rel="stylesheet" type="text/css" href="../../static/secretary/css2.css">
</head>
<body>
  <h3><u>ARYABHATTA</u></h3>
     <!--EDIT ALL THE NAMES AND MAKE A LOOP --> 
    <table>
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Rating</th>
    </tr>
      {% for item in listName %}
      <tr>
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
      </tr>
          {% endfor %}
    </table>
  <h3><u>CHANAKYA2</u></h3>
     <!--EDIT ALL THE NAMES AND MAKE A LOOP --> 
    <table>
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Rating</th>
    </tr>
      {% for item in listName %}
      <tr>
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
      </tr>
          {% endfor %}
    </table>
  <h3><u>ASHOKA</u></h3>
     <!--EDIT ALL THE NAMES AND MAKE A LOOP --> 
    <table>
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Rating</th>
    </tr>
      {% for item in listName %}
      <tr>
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
      </tr>
          {% endfor %}
    </table>
  <h3><u>CHANAKYA1</u></h3>
     <!--EDIT ALL THE NAMES AND MAKE A LOOP --> 
    <table>
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Rating</th>
    </tr>
      {% for item in listName %}
      <tr>
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
      </tr>
          {% endfor %}
    </table>
  <h3><u>NBH</u></h3>
   <!--EDIT ALL THE NAMES AND MAKE A LOOP --> 
    <table>
    <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Rating</th>
    </tr>
      {% for item in listName %}
      <tr>
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
      </tr>
          {% endfor %}
    </table>
</body>
</html>
