<!DOCTYPE html>
<html>
<head>
	<title>Add Items</title>
	 <link rel="shortcut icon" type="image/x-icon" href="../../../static/img/system/logoSmall.png"/>
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/img/system/logoSmall.png"/>
    <link rel="stylesheet" type="text/css" href="../../../static/secretary/try.css">
    <link rel="stylesheet" type="text/css" href="../../../static/secretary/css2.css">
    <link rel="stylesheet" type="text/css" href="../../../static/secretary/basic.css">
    <script type="text/javascript">
    function addItem () {
      var temp = '<object  type="text/html" data="" style="height:514px;width:100%;"></object>'
      document.getElementById("right").innerHTML = temp;
    }

    function viewItem () {
      var temp = '<object  type="text/html" data="" style="height:600px;width:100%;"></object>'
      document.getElementById("right").innerHTML = temp;
    }

    function makeMeal () {
      var temp = '<object  type="text/html" data="" style="height:600px;width:100%;"></object>'
      document.getElementById("right").innerHTML = temp;
    }

    function viewMeal () {
      var temp = '<object  type="text/html" data="" style="height:600px;width:100%;"></object>'
      document.getElementById("right").innerHTML = temp;
    }
    </script>
</head>
<body>
<div id="upper">
  <img style="width:5%" src="../../../static/img/system/logoSmall.png"><img style="width:50%" src="../../../static/img/system/name.png"> 
    <p >
      <span id = "s1" style="float: left;">Welcome: {{msg}} </span>
      <span id = "s1" style="float: center;" > Secretary </span>
      <span id = "s3" style="float: right;"><a href="../../logout">logout</a></span>
    </p>
    </div>
	<div class="menu-wrap2" >
        <nav class="menu2">
        <ul class="clearfix">
            <li><a onClick="addItem()">Add Item</a></li>
            <li><a onClick="viewItem()">View Item</a></li>
            <li><a onClick="makeMeal()">Make Meal</a></li>
            <li><a onClick="viewMeal()">View Meal</a></li>
        </ul>
        </nav>
    </div>
     <div id="right">
      <object  type="text/html" data="" style="height:700px;width:100%;"></object>
    </div>
</body>
</html>