<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
<h3 align="center">  Make dish</h3>
<form name="form_2" action="../makingMeal/" method="POST">
<table>
<tr> 
   <th> Items </th>
   <th> Protein Value </th>
   <th> Vitamin Value </th>
   <th> Fat Value </th>
   <th> Nutritional Value </th>
</tr>
{% for item in list %}
<tr>
   <td> <input type="checkbox" class="item_list" name="foodItems" value="{{ forloop.counter }}" onclick="Display(&#34;{{ item.nutritions }}&#34;)">{{ item.name }}</td>
   <td> {{ item.proteins }} </td>
   <td> {{ item.vitamins }} </td>
   <td> {{ item.fat }} </td>
   <td> {{ item.nutritions }} </td>

</tr>
{% endfor %}
<tr>
	<td>
		
	</td>
	<td>
		<button type="submit" align="center" value=""> Submit </button>
	</td>
	
</tr>
</form>
<p id="my_nutrition">
        Current Value
	</p>
<script type="text/javascript">
    var x=0,a=0;
	function Display(strItemValue)
	{
		item_value = parseInt(strItemValue);
		var y;
		var z=document.querySelectorAll('input[type="checkbox"]:checked').length;
		if(z==0)
		{
			y=0;
			x=0;
			a=0;
		}
		else
		{
		   if(z>a)
		     {
			    x=x+item_value;
		     }
		   else
		     {
			    x=x-item_value;
		     }

                y=x/z;
        }
                a=z;
         
        document.getElementById("my_nutrition").innerHTML="Current Nutrition Value= "+ y.toFixed(2);
      
    }
       
</script>
</body>
</html>