<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
</head>
<body>
<h3 align="center"> Breakfast, lunch and dinner menus </h3>

<div id="container">
    <div id="one">
    	<h2> Breakfast options:</h2>
    	<table>
        <tr><th>S.No.</th><th>Name</th><th>Average Nutrition</th></tr>
    	{% for items in list1 %}
        <tr>
        <td>{{ forloop.counter }} </td>
        <td><input class = "inpText"  type="text" value="{{ items.name }}"></td>
        <td><input class = "inpText"  type="text" value="{{ items.avgnutrition }}"></td>
        </tr>
        {% endfor %}
        </table>
    </div>
    <div id="two">
    	<h2> Lunch options:</h2>
    	<table>
        <tr><th>S.No.</th><th>Name</th><th>Average Nutrition</th></tr>
    	{% for items in list2 %}
        <tr>
        <td>{{ forloop.counter }} </td>
        <td><input class = "inpText"  type="text" value="{{ items.name }}"></td>
        <td><input class = "inpText"  type="text" value="{{ items.avgnutrition }}"></td>
        </tr>
        {% endfor %}
        </table>
    </div>
    <div id="three">
    	<h2> Dinner options:</h2>
    	<table>
        <tr><th>S.No.</th><th>Name</th><th>Average Nutrition</th></tr>
    	{% for items in list3 %}
        <tr>
        <td>{{ forloop.counter }} </td>
        <td><input class = "inpText"  type="text" value="{{ items.name }}"></td>
        <td><input class = "inpText"  type="text" value="{{ items.avgnutrition }}"></td>
        </tr>
        {% endfor %}
        </table>
    </div>
    <button type="submit" value="" > Start Poll </button>
</div>

</body>
</html>