<!DOCTYPE HTML>
<html>
<head>
<title>Enter New </title>
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans+Condensed:300|Raleway' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script><!-- jQuery Library-->
<link rel="stylesheet" type="text/css" href="../../static/user_module/password.css">
<script src="passwordcheck.js"></script><!-- Include Your jQUery file here-->
<script type="text/javascript">
$(document).ready(function() {
	$('#submit').hide();
});
</script>
</head>
<body>
<div id="container">
<div id="header">
<h2> Enter New Password</h2>
<hr>
</div>
<div id="content">
<form  name=form1 id="register" action="/newPassword/" method="POST">
<label for="password"><b>Enter New Password: </b></label>
<label for="submit"><b>Enter Key: </b></label>
<input name="password" id="password" type="password" placeholder="Type Your Password here"/>&nbsp;&nbsp;
<span id="result"></span>
<input name="key" id="key" type="text"/>&nbsp;&nbsp;
<p > <input type="submit" name="submit" id="submit" value="submit" />
</form>
</div>
</div>
</body>
</html>