<!DOCTYPE html>  
<html lang="en">
<head>
	<title>
		IITP Complain Redressal
	</title>
	
		<script src="../../static/user_module/idvalidate.js"></script>  
		<meta charset="utf-8">  
		<link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/spacer.gif"/>
		<link rel="stylesheet" type="text/css" href="../../static/user_module/login.css">
	</head>
	<body>
			<p><img src="../../static/img/system/sm_logo.png"></p>
			<h2><strong>Complaint Redressal System</strong></h2>
			<div id="login">

				<form name="form1" action="/crs/login/" method="post">  <!-- check the action -->
				{% csrf_token %}
				<fieldset>
				<p><label for="username">Username:</label>
				<input type="text" name="username" required value="" onBlur="if(this.value=='')this.value='' " onFocus="if(this.value=='Username')this.value='' "></p>
				<p><label for="password">Password:</label>
				<input type="password" name="password" required value="" onBlur="if(this.value=='')this.value='' " onFocus="if(this.value=='Password')this.value='' "></p>

				
				<p>{{msg}}</p>
				<p class="submit"><input type="submit" value="Login" name="log" onclick="ValidateEmail(document.form1.username)">
					<span id="fpass"><a href="/ForgetPasswordButton/">Forget Password</a></span></p>

				</fieldset>
				</form>
			</div>

	</body>
</html>
 

