<!DOCTYPE html>
<html>
<head>
	<title>View Complains</title>
	
</head>
<body>

		<div id= "one1">
		<h3>Public Complain</h3>
		<table>
      <tr>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in lists1 %}
      <tr> 
        <td>{{ item.cid }}</td>

        <td><a href="">{{ item.subject }}</a></td>

        <td>{{ item.time }}</td>
    </tr>
    {% endfor %}
</table>
    </div>
    <div id="two1">
  		<h3>Private Complain</h3>
  		<table>
      <tr>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in lists2 %}
      <tr> 
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
      </tr>
    {% endfor %}

  	
    </table>
    </div>
    


</body>
</html>