<!DOCTYPE html>
<html>
<head>
<style >
   #one {
   	border-right: 3px
   }

</style>



</head>
<body>
<div id="right">
	<div id= "one">
		<h3>Public Complain</h3>
		<table>
      <tr>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in lists1 %}
      <tr> 
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
    </tr>
    {% endfor %}
</table>
    </div>
    <div id="two">
  		<h3>Private Complain</h3>
  		<table>
      <tr>
        <th>Complain ID</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
          {% for item in lists2 %}
      <tr> 
        <td>{{ item.cid }}</td>
        <td>{{ item.subject }}</td>
        <td>{{ item.time }}</td>
    </tr>
    {% endfor %}
  	<div>
  <div>
</body>
</html>