<!DOCTYPE html>
<html>
<head><title>Secretary</title>

    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/spacer.gif"/>

    <link rel="stylesheet" type="text/css" href="../../static/user_module/basic.css">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/img/system/spacer.gif"/>
    <link rel="stylesheet" type="text/css" href="../../static/user_module/css.css">
    <link rel="stylesheet" type="text/css" href="../../static/user_module/try.css">
    <link rel="stylesheet" type="text/css" href="../../static/user_module/css2.css">
    <style></style>
    <script type="text/javascript">
    function helloWorld() {
    var x;
    if (confirm("Press a button!") == true) {
        x = "You pressed OK!";
    } else {
        x = "You pressed Cancel!";
    }
    document.getElementById("demo").innerHTML = x;
}
    function view () {
      // body...
      
      var temp = '<object  type="text/html" data="./listComp.html" style="height:425px;width:100%;"></object>'
      document.getElementById("newright").innerHTML = temp;
    }
    function lodge () {
      // body...
      var temp = '<object  type="text/html" data="./secComp.html" style="height:600px;width:100%;"></object>'
      document.getElementById("newright").innerHTML = temp;
    }
    function editprofile(){
      alert("Not completed..!!")
      var temp = '<object  type="text/html" data="studentProfile.html" style="height:600px;width:100%;"></object>'
      document.getElementById("newright").innerHTML = temp;
    }
    function messrebate () {
      // body...
      
      var temp = '<object  type="text/html" data="messrebate.html" style="height:600px;width:100%;"></object>'
      document.getElementById("newright").innerHTML = temp;
    }
    function poll () {
      // body...
      
      var temp = '<object  type="text/html" data="studPoll.html" style="height:600px;width:100%;"></object>'
      document.getElementById("newright").innerHTML = temp;
    }
    function hostel_leave() {
      // body...
      
      var temp = '<object  type="text/html" data="studHostelLeave.html" style="height:600px;width:100%;"></object>'
      document.getElementById("newright").innerHTML = temp;
    }
    </script>
    </head>
<body>
  <div class="test">
  <img style="width:50%" src="../../static/img/system/sm_logo.png"> 
    <p >
      <span id = "s1" style="float: left;">User: {msg} </span>
      <span id = "s2" style="float: center;" > Secretary Logged In</span>
      <span id = "s3" style="float: right;"><a href="../../logout">logout</a></span>
    </p>

    </div>
    <div class="menu-wrap">
        <nav class="menu">
        <ul class="clearfix">
            <li class="current-item"><a href="#">Home</a></li>
            <li>
                <a href="#">Change DEP.<span class="arrow">&#9660;</a>
 
                <ul class="sub-menu">
                    <li><a href="#">ECO</a></li>
                    <li><a href="#">Mess</a></li>
                    <li><a href="#">Technical</a></li>
                    <li><a href="#">Maintenance</a></li>
                </ul>
            </li>
            <li><a href="#">List By</a></li>
            <li ><a href="#">Photos</a></li>
            <li><a href="#">Site Help</a></li>
        </ul>
        </nav>
    </div>

    <div class="menu-wrap2" >
        <nav class="menu2">
        <ul class="clearfix">
            <li class="current-item"><a href="https://iitp.ac.in"><img src="../../static/img/system/spacer.gif"></a></li>
            <li><a onClick="view()">View</a></li>
            <li><a onClick="lodge()">Lodge</a></li>
            <li><a onClick="editprofile()">Edit profile</a></li>
            <li><a onClick="view_rate()">View &amp; Rate Sec.</a></li>
            <li><a onClick="messrebate()">Mess Rebate</a></li>
            <li><a onClick="poll()">Poll</a></li>
            <li><a onClick="hostel_leave()">Hostel leave Info.</a></li>
            <li><a href="" onClick="helloWorld()">More options</a></li>
        </ul>
        </nav>
    </div>
    <div id="newright">
      <object  type="text/html" data="./listComp.html" style="height:425px;width:100%;"></object>
    </div>
    <p id="demo"></p>

    </div>
  </body>
</html>